<div class="sidenav">
    <a routerLink="."><img src="../../assets/logo.png" alt="logo" style="width: 250px;"></a>
    <a routerLink="." class="btn btn-outline-dark" style="position: relative; top: 80px;">Ajout clients</a>
    <a routerLink="../admindepot" class="btn btn-outline-dark"style="position: relative; top: 150px;">Ajout dépôts</a>
    <a routerLink="../consult" class="btn btn-outline-dark"style="position: relative; top: 220px;">Consultation dépôts</a>
    <a routerLink="../suppr-client" class="btn btn-outline-dark"style="position: relative; top: 290px;">Supression clients</a>
    <a routerLink="" class="btn btn-outline-dark"style="position: relative; top: 360px;">Déconnexion</a>
    <p style="position:relative; top: 387px; text-align: center; color: #828282;">admin@admin.com</p>
  </div>
  
<div class="main" style="background: #FDE7E7;padding-bottom:123px;padding-top:5%;">
    <div class="container">
        <div class="row" style="margin-bottom: 50px;">
            <div class="card w-50 border-dark" style="margin:auto;">
                <div class="card-body">
                    <form>
                        <p style="font-style: italic; font-weight:500;">Ajout Client</p>
                        <div class="mb-3">
                          <label for="client" class="form-label">Client : </label>
                          <input type="text" class="form-control" id="client" placeholder="Client">
                        </div>
                        <div class="mb-3">
                            <label for="adresse" class="form-label">Adresse : </label>
                            <input type="mail" class="form-control" id="adresse" placeholder="Adresse">
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Numero telephone : </label>
                            <input type="tel" class="form-control" id="tel" placeholder="Numero telephone">
                        </div>
                        <div class="mb-3">
                          <label for="fax" class="form-label">FAX : </label>
                          <input type="text" class="form-control" id="fax" placeholder="Fax">
                        </div>
    
                        <div class="mb-3">
                          <label for="mail" class="form-label">Adresse mail : </label>
                          <input type="mail" class="form-control" id="mail" placeholder="E-mail">
                        </div>
                        <div>
                        <input type="submit" class="btn" id="val" style="background-color: #17A2B8;margin-left: 87%; color: white;" value="Ajouter" (click)="onClick()">
                        </div>
                      </form>
                </div>
              </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
 
  <!-- Modal content -->
  <div class="modal-content"  style="width: 500px;">
    <span class="close">&times;</span>
    <div id="img"></div>
    <p id="error"></p>
  </div>

</div>

