<div class="sidenav">
    <a routerLink="."><img src="../../assets/logo.png" alt="logo" style="width: 250px;"></a>
    <a routerLink="../adminajout" class="btn btn-outline-dark" style="position: relative; top: 80px;">Ajout clients</a>
    <a routerLink="../admindepot" class="btn btn-outline-dark"style="position: relative; top: 150px;">Ajout dépôts</a>
    <a routerLink="." class="btn btn-outline-dark"style="position: relative; top: 220px;">Consultation dépôts</a>
    <a routerLink="../suppr-client" class="btn btn-outline-dark"style="position: relative; top: 290px;">Supression clients</a>
    <a routerLink="" class="btn btn-outline-dark"style="position: relative; top: 360px;">Déconnexion</a>
    <p style="position:relative; top: 387px; text-align: center; color: #828282;">admin@admin.com</p>
</div>
<div class="container-fluid main" style="padding-top:20%; padding-bottom: 27%; padding-left: 20%;background: #FDE7E7;">
    <div class="row">
        <div class="col-6">
        <a><button type="button" class="btn btn-outline-dark" routerLink="../consultall">Statistiques globales</button></a>
        </div>
        <div class="col-6">
        <a><button type="button" class="btn btn-outline-dark"routerLink="../consultparam">Statistiques parametrées</button></a>    
        </div>
    </div>
</div>

