<div class="sidenav">
    <a routerLink="../consult"><img src="../../assets/logo.png" alt="logo" style="width: 250px;"></a>
    <a routerLink="../adminajout" class="btn btn-outline-dark" style="position: relative; top: 80px;">Ajout clients</a>
    <a routerLink="../admindepot" class="btn btn-outline-dark"style="position: relative; top: 150px;">Ajout dépôts</a>
    <a routerLink="../consult" class="btn btn-outline-dark"style="position: relative; top: 220px;">Consultation dépôts</a>
    <a routerLink="../suppr-client" class="btn btn-outline-dark"style="position: relative; top: 290px;">Supression clients</a>
    <a routerLink="" class="btn btn-outline-dark"style="position: relative; top: 360px;">Déconnexion</a>
    <p style="position:relative; top: 387px; text-align: center; color: #828282;">admin@admin.com</p>
  </div>
  
<div class="main">
<img src="../../assets/ad.png" alt="ad" style="margin-left:10% ;width:90.6%; height: 500px;">
<span ><div style="background-color:#FDE7E7; text-align: center;margin-left: 10%; width: 90.6%;padding-top: 180px;padding-bottom: 170px; font-weight: bold; font-style: italic; font-size: 50px;">ESPACE ADMINISTRATEUR</div></span>

</div>

