<div class="container">
    <div class="row">
        <img src="../../assets/logo.png" style="width: 10%;height: 35%;margin: auto;display: block;margin-bottom: 8px;">
    </div>
    <div class="row" style="margin-bottom: 50px;">
        <div class="card w-50 border-dark" style="margin:auto;">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                      <label for="nom" class="form-label">Nom : </label>
                      <input type="text" class="form-control" id="nom" placeholder="nom">
                    </div>
                    <div class="mb-3">
                      <label for="prenom" class="form-label">Prenom : </label>
                      <input type="text" class="form-control" id="prenom" placeholder="prenom">
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">E-mail : </label>
                        <input type="mail" class="form-control" id="mail" placeholder="Adresse e-mail">
                      </div>
                    <div class="mb-3">
                        <label for="tel" class="form-label">Numero de telephone : </label>
                        <input type="tel" class="form-control" id="tel" placeholder="Numero de telephone">
                    </div>
                    <div class="mb-3">
                      <label for="pwd" class="form-label">Mot de passe : </label>
                      <input type="password" class="form-control" id="pwd" placeholder="Mot de passe">
                    </div>
                    <div>
                    <input type="submit" name="submitbtn" id="val" class="btn" style="background-color: #FFC107;" (click)="Add()" value="S'inscrire" routerLink="">
                    <button type="reset" class="btn" style="background-color: #FFC107;position: relative;bottom: 50px;">Réinitialiser</button>
                    </div>
                  </form>
            </div>
          </div>
    </div>
</div>
