<div class="sidenav">
    <a routerLink="../consult"><img src="../../assets/logo.png" alt="logo" style="width: 250px;"></a>
    <a routerLink="../adminajout" class="btn btn-outline-dark" style="position: relative; top: 80px;">Ajout clients</a>
    <a routerLink="../admindepot" class="btn btn-outline-dark"style="position: relative; top: 150px;">Ajout dépôts</a>
    <a routerLink="../consult" class="btn btn-outline-dark"style="position: relative; top: 220px;">Consultation dépôts</a>
    <a routerLink="." class="btn btn-outline-dark"style="position: relative; top: 290px;">Supression clients</a>
    <a routerLink="" class="btn btn-outline-dark"style="position: relative; top: 360px;">Déconnexion</a>
    <p style="position:relative; top: 387px; text-align: center; color: #828282;">admin@admin.com</p>
</div>
<div class="main" style="background: #FDE7E7;">
    <div class="container">
        <div class="row">
            <div class="card w-100 border-dark" style="margin-top: 27%;margin-bottom: 31%;position: relative; top: 50px;">
                <div class="card-body">
                    <form>
                        <label for="Client">Choisissez client:</label>
                        <select class="form-control form-control-lg" id="cli">
                            <option value="">Choisissez client</option>
                            <option  *ngFor="let cl of client" value="{{cl.id_client}}">{{ cl.libelle}}</option>
                        </select>
                        <button type="button" id="myBtn" (click)="onClick()" class="btn btn-warning" style="margin-left: 92%;">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
 
        <!-- Modal content -->
        <div class="modal-content"  style="width: 500px;">
          <span class="close">&times;</span>
          <p id="error">
              Voulez vous vraiment supprimer ce client ?
              <button type="button" style="position: relative; top: 68px;margin-bottom: 20px; margin-left: 67%;" class="btn btn-danger" (click)="Suppr()"> Oui </button>
              <button type="button" id="b2" style="position: relative;"class="btn btn-success" (click)="f2()"> Non </button>
          </p>
        </div>
     
    </div>
</div>
